<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.css" integrity="sha512-E+53kXnJyuZFSz75xSmTfCpUNj3gp9Bd80TeQQMTPJTVWDRHPOpEYczGwWtsZXvaiz27cqvhdH8U+g/NMYua3A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>six</title>
    
</head>
<body>
    <div class="one">
        <div class="logo">
            <img src="{{url_for('static', filename='img/log.PNG')}}" alt="">
            <p style="text-align:center;">Company Name</p>
        </div>
        <div class="navBar">
            <ul>
                <li>About</li>
                <li>Accreditation</li>
                <li>Registration</li>
                <li>News</li>
                <li>Resources</li>
                <li>Training</li>
                <li>Tenders</li>
                <li>Careers</li>
                <li>Help</li>
            </ul>

        </div>
    </div>
    <div class="two">
        <div class="standards floatLeft">
            <a href="">Updated Engineering Standards</a>
        </div>
        <div class="search ">
            <form class="example floatRight" action="">
                <input type="text" placeholder="" name="search">
                <button type="submit">
                    <i class="fa fa-search"></i>
                </button>
            </form>
        </div>
    </div>
    
    <div class="three">
        <div class="left">
            <ul>
                <li>School Leavers and associates</li>
                <li>Students, apprentices and graduates</li>
                <li>Members</li>
                <li>Journalists and Media</li>
                <li>Educators, developers and providers</li>
                <li>Employers</li>
                <li>Members of the public</li>
                <li>Professional Registration Guide</li>
                <li>Statement of ethical principles</li>
            </ul>
            <a href="">What is on the headlines?</a>

        </div>
        <div class="right">
            <div class="first">
                <img src="../static/img/scroll.PNG" alt="">
                <p class="top">
                    Have you read the updated Engineer's Manual? <br>
                    <a href="">Click here to access it</a>
                </p>

            </div>
            
            <div class="bottom">
                <div class="individual zoom">
                    <img src="../static/img/tractor2.PNG" alt="">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid, numquam!
                        <a href="">Read more...</a>
                    </p>
                </div>
                <div class="individual zoom">
                    <img src="../static/img/ebk1.PNG" alt="">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid, numquam!
                        <a href="">Read more...</a>
                    </p>
                </div>
                <div class="individual zoom">
                    <img src="{{url_for('static', filename='img/ebk2.PNG')}}" alt="">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid, numquam!
                        <a href="">Read more...</a>
                    </p>
                </div>
                <!-- object tag embeds pdf to the page -->
                <div class="individual zoom">
                    <img src="{{url_for('static', filename='img/ebk3.PNG')}}" alt="">
                    <p>
                        The quick brown fox jumped over the lazy dog.
                        <!-- <object data=""></object> -->
                        <a href="">Read more...</a>
                    </p>
                </div>
                   
                <div class="individual zoom">
                    <img src="{{url_for('static', filename='img/ebk3.PNG')}}" alt="">
                    <p>
                        The quick brown fox jumped over the lazy dog.
                        <!-- <object data=""></object> -->
                        <a href="">Read more...</a>
                    </p>
                </div>
                
                <div class="individual zoom">
                    <img src="{{url_for('static', filename='img/ebk1.PNG')}}" alt="">
                    <p>
                        The quick brown fox jumped over the lazy dog.
                        <!-- <object data=""></object> -->
                        <a href="">Read more...</a>
                    </p>
                </div>
                <!-- content trimmed to two lines -->
                <div class="individual zoom">
                    <img src="{{url_for('static', filename='img/ebk2.PNG')}}" alt="">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe velit voluptas nemo aspernatur quam ullam ipsa assumenda sunt nostrum aliquam pariatur qui voluptatem odit non similique, eveniet, in iusto maxime?
                    Ipsum cupiditate atque iste nobis aspernatur enim animi fuga officiis perferendis minus, nisi nihil omnis ipsa eos odio. Itaque beatae ut quisquam quae quasi minus non enim deleniti delectus culpa!
                    Inventore nesciunt incidunt quae quos. Voluptates dicta rem voluptatibus, non quasi possimus sed dignissimos numquam fugit porro! Architecto distinctio provident neque eveniet a. Repellendus, amet voluptas. Nesciunt amet eius commodi?
                    Numquam nemo iste omnis quis odit illum illo, nesciunt magnam, possimus obcaecati eius aliquam voluptatum. Illo maiores eaque pariatur quasi cum impedit nesciunt recusandae quae, beatae porro iure officia voluptates.
                    Cum ullam facilis ratione maiores quaerat. Quis neque error sed ex repellat dolor maxime eveniet sapiente incidunt iste repudiandae rerum et nobis, asperiores nostrum non accusamus repellendus! Ipsa, in consectetur?
                    Quae quidem nobis consectetur, nam officia maiores tenetur debitis perferendis cum, ab iure quibusdam, dolores in. Numquam culpa eligendi cumque temporibus atque saepe dolores, omnis eum, quo quaerat delectus iste!
                    Quaerat, dolorum optio? Dolor necessitatibus, ad voluptates amet qui explicabo atque accusamus reiciendis temporibus, unde eligendi aliquid optio nulla. Sint eligendi autem excepturi earum nihil veritatis impedit provident exercitationem voluptatum?
                    Fuga, est nisi quo modi ea maiores aliquam molestias eaque blanditiis nulla, temporibus deleniti ab dolor reiciendis vitae suscipit perferendis consequuntur adipisci. Possimus ullam fugiat hic molestias incidunt architecto placeat?
                    Officiis temporibus eius, maxime assumenda voluptatum itaque praesentium sed iste porro ratione qui earum dolores in mollitia ducimus delectus sunt tenetur et doloribus explicabo debitis fuga beatae commodi! Asperiores, atque!
                    Eius beatae autem libero! Maiores, voluptatum praesentium consequuntur tenetur sed similique doloremque. Aut praesentium ex laudantium voluptatum tenetur earum quasi, rem doloribus molestias dicta consectetur sequi enim veritatis illo corporis.
                    </p>
                </div>
                <div class="individual zoom">
                    <img src="{{url_for('static', filename='img/tractor2.PNG')}}" alt="">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe velit voluptas nemo aspernatur quam ullam ipsa assumenda sunt nostrum aliquam pariatur qui voluptatem odit non similique, eveniet, in iusto maxime?
                    Ipsum cupiditate atque iste nobis aspernatur enim animi fuga officiis perferendis minus, nisi nihil omnis ipsa eos odio. Itaque beatae ut quisquam quae quasi minus non enim deleniti delectus culpa!
                    Inventore nesciunt incidunt quae quos. Voluptates dicta rem voluptatibus, non quasi possimus sed dignissimos numquam fugit porro! Architecto distinctio provident neque eveniet a. Repellendus, amet voluptas. Nesciunt amet eius commodi?
                    Numquam nemo iste omnis quis odit illum illo, nesciunt magnam, possimus obcaecati eius aliquam voluptatum. Illo maiores eaque pariatur quasi cum impedit nesciunt recusandae quae, beatae porro iure officia voluptates.
                    Cum ullam facilis ratione maiores quaerat. Quis neque error sed ex repellat dolor maxime eveniet sapiente incidunt iste repudiandae rerum et nobis, asperiores nostrum non accusamus repellendus! Ipsa, in consectetur?
                    Quae quidem nobis consectetur, nam officia maiores tenetur debitis perferendis cum, ab iure quibusdam, dolores in. Numquam culpa eligendi cumque temporibus atque saepe dolores, omnis eum, quo quaerat delectus iste!
                    Quaerat, dolorum optio? Dolor necessitatibus, ad voluptates amet qui explicabo atque accusamus reiciendis temporibus, unde eligendi aliquid optio nulla. Sint eligendi autem excepturi earum nihil veritatis impedit provident exercitationem voluptatum?
                    Fuga, est nisi quo modi ea maiores aliquam molestias eaque blanditiis nulla, temporibus deleniti ab dolor reiciendis vitae suscipit perferendis consequuntur adipisci. Possimus ullam fugiat hic molestias incidunt architecto placeat?
                    Officiis temporibus eius, maxime assumenda voluptatum itaque praesentium sed iste porro ratione qui earum dolores in mollitia ducimus delectus sunt tenetur et doloribus explicabo debitis fuga beatae commodi! Asperiores, atque!
                    Eius beatae autem libero! Maiores, voluptatum praesentium consequuntur tenetur sed similique doloremque. Aut praesentium ex laudantium voluptatum tenetur earum quasi, rem doloribus molestias dicta consectetur sequi enim veritatis illo corporis.
                    </p>
                </div>
                <div class="individual zoom">
                    <img src="{{url_for('static', filename='img/engine.PNG')}}" alt="">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe velit voluptas nemo aspernatur quam ullam ipsa assumenda sunt nostrum aliquam pariatur qui voluptatem odit non similique, eveniet, in iusto maxime?
                    Ipsum cupiditate atque iste nobis aspernatur enim animi fuga officiis perferendis minus, nisi nihil omnis ipsa eos odio. Itaque beatae ut quisquam quae quasi minus non enim deleniti delectus culpa!
                    Inventore nesciunt incidunt quae quos. Voluptates dicta rem voluptatibus, non quasi possimus sed dignissimos numquam fugit porro! Architecto distinctio provident neque eveniet a. Repellendus, amet voluptas. Nesciunt amet eius commodi?
                    Numquam nemo iste omnis quis odit illum illo, nesciunt magnam, possimus obcaecati eius aliquam voluptatum. Illo maiores eaque pariatur quasi cum impedit nesciunt recusandae quae, beatae porro iure officia voluptates.
                    Cum ullam facilis ratione maiores quaerat. Quis neque error sed ex repellat dolor maxime eveniet sapiente incidunt iste repudiandae rerum et nobis, asperiores nostrum non accusamus repellendus! Ipsa, in consectetur?
                    Quae quidem nobis consectetur, nam officia maiores tenetur debitis perferendis cum, ab iure quibusdam, dolores in. Numquam culpa eligendi cumque temporibus atque saepe dolores, omnis eum, quo quaerat delectus iste!
                    Quaerat, dolorum optio? Dolor necessitatibus, ad voluptates amet qui explicabo atque accusamus reiciendis temporibus, unde eligendi aliquid optio nulla. Sint eligendi autem excepturi earum nihil veritatis impedit provident exercitationem voluptatum?
                    Fuga, est nisi quo modi ea maiores aliquam molestias eaque blanditiis nulla, temporibus deleniti ab dolor reiciendis vitae suscipit perferendis consequuntur adipisci. Possimus ullam fugiat hic molestias incidunt architecto placeat?
                    Officiis temporibus eius, maxime assumenda voluptatum itaque praesentium sed iste porro ratione qui earum dolores in mollitia ducimus delectus sunt tenetur et doloribus explicabo debitis fuga beatae commodi! Asperiores, atque!
                    Eius beatae autem libero! Maiores, voluptatum praesentium consequuntur tenetur sed similique doloremque. Aut praesentium ex laudantium voluptatum tenetur earum quasi, rem doloribus molestias dicta consectetur sequi enim veritatis illo corporis.
                    </p>
                </div>

            </div>
        </div>
        
    </div>
    <div class="footer">
        <p class="floatLeft">cc</p>
        <p class="float floatRight">
            <a href="" class="item zoom" ><i class="fa-brands fa-twitter"></i></a>
            <a href="" class="item zoom"><i class="fa-brands fa-instagram"></i></a>
            <a href="" class="item zoom"><i class="fa-brands fa-linkedin-in"></i></a>
            <a href="" class="item zoom"><i class="fa-brands fa-facebook-f"></i></a>
            <a href="" class="item zoom"><i class="fa-brands fa-youtube"></i></a>    
        </p>
    </div>
    
</body>
</html>